<div id="<%= dom_id idea %>">
  <p class="idea-name">
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <img src="<%= idea.picture %>"/>

  </p>

</div>
